Options -Indexes
ErrorDocument 404 /404.php

<IfModule mod_php5.c>
  php_flag allow_call_time_pass_reference 1
  php_flag session.use_trans_sid off

  #php_value display_errors 1

  #php_value mbstring.func_overload 2
  #php_value mbstring.internal_encoding UTF-8
</IfModule>

<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On

RewriteCond %{HTTP_HOST} ^tula\.akvadar\.ru$ [NC]
RewriteRule ^(.*)$ http://akvadar-tula.ru/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^spb\.akvadar\.ru$ [NC]
RewriteRule ^(.*)$ http://akvadar-spb.ru/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^mahachkala\.akvadar\.ru$ [NC]
RewriteRule ^(.*)$ http://akvadar-mahachkala.ru/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^stavropol\.akvadar\.ru$ [NC]
RewriteRule ^(.*)$ http://akvadar-stavropol.ru/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^samara\.akvadar\.ru$ [NC]
RewriteRule ^(.*)$ http://akvadar-samara.ru/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^akvadar\.ru$ [NC]
RewriteRule ^(.*)$ http://www.akvadar.ru/$1 [R=301,L]

RewriteRule ^robots.txt$ robots.txt.php

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
  RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
  RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
</IfModule>

<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 3 day"
  ExpiresByType image/gif "access plus 3 day"
</IfModule>
